/*** This value should be updated here and in the userChrome.css ***/
:root {
  --tst-sidepanel-hide-delay: 0.5s;
}

/*** Hide fake context menu, when right clicking empty area***/ 
ul[id="tabContextMenu"] {
  display: none;
}


/*** Animations ***/ 

/* Resolve extra space for scrollbar (scrollbar is hidden by this script) */
.on-scrollbar-area #tabbar {
  --shift-tabs-for-scrollbar-distance: 0px;
}

/* Include 'reveal' animation ... stagers by level */
#tabbar .tab {
  transition: 0.1s margin-top, 0.2s 0.1s visibility;
}

#tabbar tab-item-substance {
  transition: 0.2s 0.1s margin-left;
}

/* Delay transitions on open */
#tabbar:not(:hover) tab-item-substance {
  transition-delay: var(--tst-sidepanel-hide-delay);
  margin-left: 0;
}

/* Animate twisty reveal */
#tabbar .tab .twisty {
  transition: 0.2s margin;
}

/* Hide .twisty and adjust margins so favicons have 7px on left */
#tabbar:not(:hover) .tab .twisty {
  visibility: hidden;
  margin-left: -12px;
  transition-delay: var(--tst-sidepanel-hide-delay);
}


/*** Tabs ***/ 

/* General tabs */

.tab,
.tab.pinned {
  height: 2.8em;
}

/* Hide 'new tab' button */
.newtab-button {
  display: none;
}

.tab .counter {
  margin-left:  auto;
  display: inline-block !important;
}

tab-item:not(.subtree-collapsed) .counter {
  visibility: hidden;
} 

/* Hide closebox unless needed */
.tab:not(:hover) .closebox {
  visibility: hidden;
}

/* Fix closebox */
.tab .closebox {
  margin-left:  0;
}

/* Push tab labels slightly to the right so they're completely hidden in collapsed state, but still look fine while expanded */
.tab .label {
  margin-left: 1em;
}